extend layout
block content
  p
    | A start for a react project with flux, browserify, babel, express server, server side rendering, live reload, gulp, jade, stylus...
  h2 Component:
  div#react-component(data-props=initObject)!= mainComponent

