doctype
html
  head
    title #{title} - Starter Kit
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
  body
    header
      h1 Starter Kit
    .main-content
      block content
    footer
    script(src="/js/bundle.js")

